
.DivItemListContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    /* box-sizing:content-box; */
}

.H1Welcome{
    font-family: 'Alfa Slab One';
    padding-top: 30px;
    
}
.WelcomeButton{    
    background-color: #0f0f0f;
    color: #ffffff;
    font-size: 20px;
    border-radius: 4px;
    box-shadow:2px 2px 3px 0px #e66305;
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
      
}
