.DivCart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    /* float:left;
    margin: 15px; */
 
}
/* f4f4f4 */

.DivCartSecond{
    padding: 10px;
    color: #f4f4f4;
    border: 0.5px solid #000000 ;
    box-shadow: 0px 0px 2px 1px #e66305;
    /* text-align: center; */
    background-color: #000000;
    border-radius: 6px;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    

}

.ImgCart{
    width: 100%;
    height: auto;
}

/* .DescritpionCart{
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: justify;
} 
 */

.PriceCart{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #ffffff;
}
.TotalPriceCart{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #ffffff;
}

.RemoveButton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    margin-left: 5px;
    border-radius: 5px;
}
/* .PDetailItem{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    
} */

.BackHome{
    padding-top: 30px;
    color: #ffffff;
    font-family: 'Alfa Slab One';
    font-size: 40px;
    text-decoration: none;
    text-decoration: inherit;

}

.ButtonBack{
    margin-bottom: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: #000000;
    color: #ffffff;
    margin-left: 5px;
    border-radius: 5px;
}

.ClearButton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    margin-left: 5px;
    border-radius: 5px;
}


.RemoveButton:hover,.ClearButton:hover{
    background-color:#e66305;
    color: #000000;
    
}
.ButtonBack:hover{
    color:#e66305;
}


.TotalPriceCartForm{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

.BuyButton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    margin-left: 5px;
    border-radius: 5px;
 
}

.BuyButton:hover{
    background-color:#e66305;
    color: #000000;
}



.BuyButton::before{
    content: 'Buy now';
}
.BuyButton:hover::before{
    content: '';
    opacity: 0;
}


.BuyButton:hover::after{
    content: 'Just do it';
    background-color:#e66305;
    color: #000000;
}



 



/* .BuyButton1:hover::before{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 5px;
    border-radius: 5px;
    background-color:#e66305;
    color: #000000;
    content: 'Just do it';
    padding: 0;
} */


