.DivCart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;

 
}


.DivCartSecond{
    padding: 10px;
    color: #f4f4f4;
    border: 0.5px solid #000000 ;
    box-shadow: 0px 0px 2px 1px #e66305;
    background-color: #000000;
    border-radius: 6px;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px; 

}

.H3Cart{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px ;
}

.ImgCart{
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 2px 5px #ffffff);
}


.PriceCart{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #f4f4f4;
}
.TotalPriceCart{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #f4f4f4;
}

.RemoveButton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #000000;
    margin-left: 5px;
    border-radius: 5px;
}


.BackHome{
    padding-top: 30px;
    color: #ffffff;
    font-family: 'Alfa Slab One';
    font-size: 40px;
    text-decoration: none;
    text-decoration: inherit;

}

.ButtonBack{
    margin-bottom: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: #000000;
    color: #f4f4f4;
    margin-left: 5px;
    border-radius: 5px;
}

.ClearButton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #f4f4f4;
    color: #000000;
    margin-left: 5px;
    border-radius: 5px;
}


.ClearButton2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #f4f4f4;
    color: #000000;
    margin-left: 5px;
    border-radius: 5px;
 
}

.RemoveButton:hover,.ClearButton:hover{
    background-color:#e66305;
    color: #000000;
    
}
.ButtonBack:hover{
    color:#e66305;
}


.TotalPriceCartForm{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

.BuyButton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #f4f4f4;
    color: #000000;
    margin-left: 5px;
    border-radius: 5px;
 
}

.BuyButton:hover{
    background-color:#e66305;
    color: #000000;
}



.BuyButton::before{
    content: 'Buy now';
}
.BuyButton:hover::before{
    content: '';
    opacity: 0;
}


.BuyButton:hover::after{
    content: 'Just do it';
    background-color:#e66305;
    color: #000000;
}



@media screen and (max-width: 768px){

    .DivCart{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
     
    }
    
    
    .DivCartSecond{
        
        color: #f4f4f4;
        border: 0.5px solid #000000 ;
        box-shadow: 0px 0px 3px 0px #e66305;       
        background-color: #000000;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin: 15px;
        padding: 10px;

    }

    .H3Cart{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px ;
    }
    
    .ImgCart{
        width: 100%;
        height: auto;
        filter: drop-shadow(2px 2px 5px #ffffff);
    }
    
    
    .PriceCart{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #f4f4f4;
    }
    .TotalPriceCart{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #f4f4f4;
    }
    
    .RemoveButton{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        background-color: #ffffff;
        color: #000000;
        margin-left: 0px;
        border-radius: 4px;
        border: 0px solid #000000;
        box-shadow: 1px 1px 3px 0px #f4f4f4;
    }

    
    .BackHome{
        padding-top: 30px;
        color: #ffffff;
        font-family: 'Alfa Slab One';
        font-size: 22px;
        text-decoration: none;
        text-decoration: inherit;
    
    }
    
    .ButtonBack{
        margin-bottom: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        background-color: #000000;
        color: #ffffff;
        margin-left: 0px;
        border-radius: 2px;
        border: 2px solid #000000;
        box-shadow: 1px 1px 2px 0px #f4f4f4;
        
    }
    
    .ClearButton{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        background-color: #ffffff;
        color: #000000;
        margin-left: 5px;
        border-radius: 3px;
        border: 0px solid #000000;
        box-shadow: 1px 1px 3px 0px #f4f4f4;
        
    }
    
    .RemoveButton:hover,.ClearButton:hover{
        background-color:#f4f4f4;
        color: #000000;      
    }

    .TotalPriceCartForm{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        font-size: 20px;
        color: #000000;
        text-align: center;
        padding-top: 10px;
        margin: 0;
    }
    .ClearButton2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        background-color: #f4f4f4;
        color: #000000;
        margin-left: 0px;
        border-radius: 5px;
     
    }
    
    .BuyButton{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        background-color: #f4f4f4;
        color: #000000;
        margin-left: 0px;
        border-radius: 5px;  
    }
    
    .BuyButton:hover{
        background-color:#f4f4f4;
        color: #000000;
    }
    
     
    .BuyButton::before{
        content: 'Buy now';
    }
    .BuyButton:hover::before{
        content: '';
        opacity: 0;
    }
      
    .BuyButton:hover::after{
        content: 'Buy now';
        background-color:#f4f4f4;
        color: #000000;
    }
    
}