.divcartwidget{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
}

.imgcart{
    width: 30px;
    height: auto;
}

.nav-p{
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:600;
    margin: auto;
}