.divcartwidget{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
}

.imgcart{
    width: 40px;
    height: auto;
}

/* .nav-p{
    font-size: 20px;
    font-weight:600;
    margin: auto;
} */