/* .DivLogoBackground{
    background-image: url(../../imgs/logonike.png);
    background-color: aqua;
} */
.LogoBackground{
    width: 33.33%;
    height: auto;
 
}

.PLoading{
    font-family: 'Alfa Slab One';
    font-size: 25px;
    padding-top: 35px;
    color: #000000;
}