.LogoBackground{
    width: 33.33%;
    height: auto;
 
}

.PLoading{
    font-family: 'Alfa Slab One';
    font-size: 25px;
    padding-top: 35px;
    color: #000000;
}


@media screen and (max-width: 768px){

    .LogoBackground{
        width: 33.33%;
        height: auto;
        padding: 6px;
     
    }
    
    .PLoading{
        font-family: 'Alfa Slab One';
        font-size: 18px;
        padding-top: 20px;
        color: #000000;
    }
     

}