#body{  
    background-color: #161516;
    box-sizing: content-box;   
}

.App {
  text-align: center;
  background:linear-gradient(#161516 80%,#0f0f0f);
}
.App-header{
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  margin: 15px;
}

.App-logo {
  width: 180px;
  height: auto;
  
}



.App-section{
  margin: 15px;  

}

.WelcomeToNike{
  background-color: #161516;
}



@media screen and (max-width: 768px){
  
  .App {
    text-align: center;
    background:linear-gradient(#161516 80%,#0f0f0f);
  }
  .App-header{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    margin: 10px;
  }
  
  .App-logo {
    width: 120px;
    height: auto;
    
  }

  .App-section{
    margin: 0;  
  
  }
  
  .WelcomeToNike{
    background-color: #161516;
  }  


}
