#body{  
    background-color: #161516;
    box-sizing: content-box;
    margin: 15px;
    
}

.App {
  text-align: center;
}
.App-header{
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  background-color: #161516;
}

.App-logo {
  width: 180px;
  height: auto;
  
}
.App-logo2 {
  width: 400px;
  height: auto;
  
}
#grilla {
  display: grid;
  grid-template-areas: "App-header App-header App-header"
 "App-section App-section App-section "
 "App-footer App-footer App-footer"; }
  #grilla .App-header {
    grid-area: App-header; }
  #grilla .App-section {
    grid-area: App-section; }
  #grilla .App-footer {
    grid-area: App-footer; }

