#body{  
    background-color: #161516;
    box-sizing: content-box;   
    /* margin: 15px; */
}

.App {
  text-align: center;
  background:linear-gradient(#161516 80%,#0f0f0f);
}
.App-header{
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  margin: 15px;
}

.App-logo {
  width: 180px;
  height: auto;
  
}
/* .App-logo2 {
  width: 400px;
  height: auto;
  
} */


.App-section{
  margin: 15px;  

}

.WelcomeToNike{
  background-color: #161516;
}


/* #grilla {
  display: grid;
  grid-template-areas: "App-header App-header App-header"
 "App-section App-section App-section "
 "App-footer App-footer App-footer"; }
  #grilla .App-header {
    grid-area: App-header; }
  #grilla .App-section {
    grid-area: App-section; }
  #grilla .App-footer {
    grid-area: App-footer; } */


@media screen and (max-width: 768px){
  
  .App {
    text-align: center;
    background:linear-gradient(#161516 80%,#0f0f0f);
  }
  .App-header{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    margin: 10px;
  }
  
  .App-logo {
    width: 120px;
    height: auto;
    
  }

  .App-section{
    margin: 0;  
  
  }
  
  .WelcomeToNike{
    background-color: #161516;
  }  


}
